#result {
    border: 1px dotted #ccc;
    padding: 3px;
}
#result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#result ul li {
    padding: 5px 0;
}
#result ul li:hover {
    background: #eee;
}

#add_user_submit {
    bbackground: #247BA0;
    border: none;
    line-height: normal;
}

#form {
    text-align: center;
}

#userToAddEmail, #result {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}