body {
    background: #f5f5f5;
    font-size: 13px;
    margin-top: 50px;
    justify-content: center;
}

#header {
    padding: 5px;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
}

#container {
    width: 1008px;
    height: 1300px;
}

#backButton, #nextButton, #todayButton, #dayButton, #weekButton, #monthButton, #addDutyButton {
    background-color: #247BA0;
    color: white;
    border-color: #247BA0;
}

#backButton:hover, #nextButton:hover, #todayButton:hover, #dayButton:hover, #weekButton:hover, #monthButton:hover, #addDutyButton:hover {
    background-color: lightskyblue;
    color: white;
    border-color: lightskyblue;
}

#headerMonthView, #headerWeekView, #headerDayView {
    width: 100%;
    display: flex;
    color: #247BA0;
    margin: auto;
}

#headerMonthView div, #headerWeekView div, #headerDayView div, .hour-dayview div {
    width: 100px;
    padding: 5px;
    text-align: center;
}

#monthView, #weekView, .hour-dayview {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.day-monthview {
    /*width: 144px;*/
    width:calc(100% / 7);
    padding: 5px;
    height: 144px;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
}

.day-monthview + #currentDay {
    background-color:#e8f4fa;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.a-current-month, .a-current-week {
    color: black;
    position: relative;
    margin-bottom: 5px;
}

.a-current-week:hover {
    color: black;
}

.a-current-month:hover {
    color: black;
    top: -1px;
}

.a-not-current-month {
    color: gray;
    position: relative;
    margin-bottom: 5px;
}

.a-not-current-month:hover {
    color: gray;
    top: -1px;
}

.hour-weekview {
    /*width: 126px;*/
    width:calc(100% / 8);
    padding: 10px;
    background-color: white;
    text-align: center;
    color: black;
}

.date-circle-month {
    display: inline-block;
    width: max-content;
    min-width: 22px;
    height: max-content;
    min-height: 22px;
    text-align: center;
    border-radius: 22px;
    pointer-events: auto;
}

.date-circle-month:hover, .date-circle-week:hover {
    background-color: lightgrey;
}

.date-circle-week {
    display: inline-block;
    width: max-content;
    min-width: 27px;
    text-align: center;
    border-radius: 27px;
    pointer-events: auto;
}

.date-circle-current-day {
    background-color: #247BA0;

}

.date-circle-current-day:hover {
    background-color: lightskyblue;
}

.invisible-border {
    border: 1px solid transparent;
}

.event {
    font-size: 10px;
    padding: 3px;
    background-color: #247BA0;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.event:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

#eventText {
  font-size: 13px;
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

.modal-confirm {
    color: #247BA0;
}
.modal-duty-detail .modal-content {
    padding: 20px;
    font-size: 13px;
    border-radius: 5px;
    border: none;
}
.modal-duty-detail .modal-header {
    background: #247BA0;
    color: white;
    border-bottom: none;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 20px;
}
.modal-duty-detail h4 {
    text-align: center;
    font-size: 26px;
    margin: 10px 10px;
}
.modal-duty-detail .form-control, .modal-duty-detail {
    min-height: 40px;
    border-radius: 3px;
}
.modal-duty-detail .close {
    top: 15px;
    right: 10px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-duty-detail .close:hover {
    opacity: 0.8;
}

.divModalBody {
    margin-right: 5px;
}

#addDutyModalError .modal-header {
    background: #e85e6c;
}