#add-user-to-home-body {
    style : 'text-align: center';
}

body {
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    margin-top: 50px;
    justify-content: center;
}

.accordion-header, .accordion-body, .accordion-button, .accordion-item
.accordion-button.collapsed {
    background-color: #f5f5f5;
}

.accordion-button:not(.collapsed) {
    color: #f5f5f5  !important;
    background-color: #247BA0 !important;
}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active  {
    background-color: #247BA0 !important;
    color:#f5f5f5 !important;
    text-decoration: none !important;
    border: hidden !important;
    border-color: #f5f5f5 !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #f5f5f5 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #f5f5f5 !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    transform: rotate(180deg)
}

.form-content {
    padding: 20px;
    border-radius: 1px;
    border: none;
}
.form-content .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

h4 {
    text-align: center;
    font-size: 26px;
}

.form-content .btn {
    background: #247BA0;
    border: none;
    line-height: normal;
}

.form-content .btn:hover, .form-content .btn:focus {
    background-color: lightskyblue;
    color: #f5f5f5;
}

form .btn, div .btn {
    background: #247BA0;
    color: #f5f5f5;
    border: none;
    line-height: normal;
}

form .btn:hover, form .btn:focus, div .btn:hover, div .btn:focus {
    background-color: lightskyblue;
}

.badge-green {
    background-color: #249e24;
    border: none;
    line-height: normal;
    color: #f5f5f5;
}

.badge-orange {
    background-color: #d0802f; !important;
    border: none;
    line-height: normal;
    color: #f5f5f5;
}

#del-button {
    background-color: #bb2a2a; !important;
}


.badge-blue {
    background-color: #247BA0;
    border: none;
    line-height: normal;
    color: #f5f5f5;
}

.text-green-ht {
    color: #249e24;
}

.text-orange-ht {
   color: #d0802f;
}

.plain {
    font-weight: normal; !important;
}