@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/*background around the menu voices */
#offcanvasExample {
    background-color: #212529;
}

#offcanvasExampleLabel, .btn_close_reset {
    color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #212529;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


/** Background e colore testo della voce menu*/
#sidebar ul li a:hover {
    color: #212529;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #212529;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #212529;
}