<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


  <title>HomeTodo</title>
  <link rel="stylesheet" type="text/css" th:href="@{~/css/home.css}" />
</head>


<body class="text-center" style="     background: #f5f5f5;
                                      font-family: 'Varela Round', sans-serif;
                                      font-size: 13px;
                                      margin-top: 50px;
                                      justify-content: center;">
<main class="container">
  <div class="row">
    <h2 class="h2 mb-3 font-weight-normal" >Insert credential to login</h2>
    <div class="col-md-4"></div>
    <form class="col-md-4 row g-2" action="#" th:action="@{/login}" th:object="${User}" method="post">
      <label for="inputEmail" >Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" th:field="*{email}">
      <label for="inputPassword" >Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" th:field="*{password}">
      <span class="forgot-password">
          <a th:href="@{'/resetPassword'}" title="Forgot Password" id="link-reset">Forgot Password?</a>
        </span>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="background: #247BA0;">Login</button>
      <a class="btn btn-lg btn-primary btn-block" th:href="@{'/register'}" style="background: #247BA0;">Sign up</a>

    </form>
    <br>

    <form th:if="${status == 'wrong-credentials'}">
      <h1 class="h3 mb-3 font-weight-normal" style="color: firebrick">Wrong credentials</h1>
    </form>
    <div class="col-md-4"></div>
  </div>

</main>
</body>
</html>
