<!DOCTYPE html>

<!-- This page was created only for show how to include the navbar to the development team so it has to be removed -->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--Remove favicon error in the console-->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>Example page</title>
</head>
<body>
<!-- In this div you will include the navbar -->
<div th:replace="navbar :: navbar_header"></div>
<div class="container-fluid text-center">
    <h1 th:text="${message}" />
</div>
</body>
</html>