<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- This div has to be included inside the pages of the web application with th:replace -->
    <div th:fragment="navbar_header">


        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script th:src="@{~/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
        <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{~/js/Cookie/cookie_handler.js}"></script>
        <script type="text/javascript" th:src="@{~/js/Navbar/navbar.js}"></script>
        <link th:href="@{~/css/navbar.css}" rel="stylesheet" />


        <!-- User in a Home navbar -->
        <div>
           <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
                <div id="navbar_div" class="container-fluid">
                    <a class="navbar-toggler" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                        <span class="navbar-toggler-icon"></span>
                    </a>

                    <a class="navbar-brand">HomeToDo</a>

                    <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
                            <button type="button" id="btn_close_reset" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body" id="offcanvas-body">
                            <nav id="sidebar">
                                <ul class="list-unstyled components">
                                    <div class="navbar_user_UH">
                                        <li>
                                            <a href="/home">Home</a>
                                        </li>
                                        <li>
                                            <a href="/schedule">Schedule</a>
                                        </li>
                                        <!-- TO BE IMPLEMENTED IN THE NEXT SPRINT<li>
                                            <a href="/profile">Profile</a>
                                        </li>-->
                                    </div>
                                    <div>
                                        <li class="home_waiting_page">
                                            <a href="/home">Home</a>
                                        </li>
                                        <li>
                                            <a href="/logout">Logout</a>
                                        </li>
                                    </div>
                                </ul>
                            </nav>

                        </div>
                    </div>

                </div>

           </nav>
        </div>
    </div>
</body>
</html>