<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/home.css}" />
    <title>HomeToDo</title>
</head>


<body class="text-center"style="     background: #f5f5f5;
                                      font-family: 'Varela Round', sans-serif;
                                      font-size: 13px;
                                      margin-top: 50px;
                                      justify-content: center;">
<main class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <form class="col-md-4 row g-2" action="#" th:action="@{/register}" th:object="${User}" method="post">
            <h1 class="h3 mb-3 font-weight-normal" >Registrati inserendo email e password</h1>
            <label for="inputEmail" >Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" th:field="*{email}">
            <label for="inputPassword" >Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" th:field="*{password}">
            <label for="inputName" >Name</label>
            <input type="text" id="inputName" class="form-control" placeholder="name" th:field="*{name}">
            <label for="inputSurname" >Surname</label>
            <input type="text" id="inputSurname" class="form-control" placeholder="surname" th:field="*{surname}">
            <br>
            <button class="btn btn-lg btn-primary btn-block" style="background: #247BA0;" type="submit">Registrati</button>
            <h2 class="h3 mb-3 font-weight-normal" style="color: firebrick">error during registrazione</h2>
            <h3 class="h3 mb-3 font-weight-normal" >Either the email is alraedy in use or it doesnt match the constraint</h3>

        </form>
        <form class="col-md-4 row g-2" action="#"  th:if="" th:action="@{/login}"  method="get">
            <h1 class="h3 mb-3 font-weight-normal" >correctly registered! </h1>
            <button class="btn btn-lg btn-primary btn-block" style="background: #247BA0;" type="submit">Go to login</button>
        </form>

        <div class="col-md-4"></div>
    </div>

</main>
</body>
</html>
