<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">



    <title>HomeToDo</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/home.css}" />
</head>


<body class="text-center" style="     background: #f5f5f5;
                                      font-family: 'Varela Round', sans-serif;
                                      font-size: 13px;
                                      margin-top: 50px;
                                      justify-content: center;">
<main class="container pb-3">
    <div class="row">
        <h2 class="h2 mb-3 font-weight-normal" >Register using the following form</h2>
        <div class="col-md-4"></div>
        <form class="col-md-4 row g-2" action="#" th:if="${status != 'correctRegistration'}" th:action="@{/register}" th:object="${User}" method="post">
            <label for="inputEmail" >Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" th:field="*{email}">
            <label for="inputPassword" >Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" th:field="*{password}">
            <label for="inputName" >Name</label>
            <input type="text" id="inputName" class="form-control" placeholder="name" th:field="*{name}">
            <label for="inputSurname" >Surname</label>
            <input type="text" id="inputSurname" class="form-control" placeholder="surname" th:field="*{surname}">
            <label for="register_select" >Choose security question:</label>
            <select class="form-select" id="register_select" aria-label="security question" th:field="*{security_question}">
                <option th:value="1" value="1"selected>What is you  mother's maiden name?</option>
                <option th:value="2"value="2">What is the name of your first pet?</option>
                <option th:value="3" value="3">What elementary school did you attend?</option>
                <option th:value="4" value="4">What was your first car?</option>
            </select>
            <input type="text" id="register_select_response" class="form-control" placeholder="answer" th:field="*{security_question_answer}">
            <br>
            <button class="btn btn-lg btn-primary btn-block" style="background: #247BA0;" type="submit">Register</button>
            <a class="btn btn-lg btn-primary btn-block" th:href="@{'/login'}" style="background: #247BA0;">Go to login</a>


        </form>
        <br><br>

        <form  action="#"  th:if="${status == 'error'}" >
            <h1 class="font-weight-normal" style="color: firebrick">error! </h1>
            <h3 class="font-weight-normal" >Either the email is already in use, or password  doesnt match the constraint.</h3>
            <h3 class="font-weight-normal" >password requires: 5+ characters, an uppercase letter, a lowercase letter, a number, a symbol </h3>

        </form>
        <form class="col-md-4 row g-2" action="#"  th:if="${status == 'correctRegistration'}" th:action="@{/login}"  method="get">
            <h1 class="h3 mb-3 font-weight-normal" >correctly registered! </h1>
            <button class="btn btn-lg btn-primary btn-block" style="background: #247BA0;" type="submit">Go to login</button>
        </form>





        <div class="col-md-4"></div>
    </div>

</main>
</body>
</html>
