<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/1a4b1a5ab1.js" crossorigin="anonymous"></script>
    <title>HomeToDo</title>
</head>


<body class="text-center" style="     background: #f5f5f5;
                                      font-family: 'Varela Round', sans-serif;
                                      font-size: 13px;
                                      margin-top: 50px;
                                      justify-content: center;">
<main class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <form class="col-md-4 row g-2" action="#" th:if="${status != 'userFound'}" th:action="@{/resetPassword}" th:object="${User}" method="post">
            <h1 class="h3 mb-3 font-weight-normal" >Insert the email of the account you want to reset the password</h1>
            <label for="resetPSW_inputEmail" >Email address</label>
            <input type="email" id="resetPSW_inputEmail" class="form-control" placeholder="Email address" th:field="*{email}">
            <th:block th:switch="${User.security_question}">

                <label for="resetPSW_select_response"  th:case="'1'" >What is your mother's maiden name?</label>
                <label for="resetPSW_select_response"  th:case="'2'" >What is the name of your first pet?</label>
                <label for="resetPSW_select_response"  th:case="'3'" >What elementary school did you attend?</label>
                <label for="resetPSW_select_response"  th:case="'4'" >What was your first car?</label>

            </th:block>
            <input type="hidden" th:field="*{security_question}" >
            <input  th:if="${status == 'userFound'}" type="text" id="resetPSW_select_response" class="form-control" placeholder="answer" th:field="*{security_question_answer}">
            <label th:if="${status == 'userFound'}" for="resetPSW_newpassword" >new password</label>
            <input  th:if="${status == 'userFound'}" type="text" id="resetPSW_newpassword" class="form-control" placeholder="new password" th:field="*{password}">
            <br>
            <button class="btn btn-lg btn-primary btn-block" style="background: #247BA0;" type="submit">reset password</button>
           <a class="btn btn-lg btn-primary btn-block" th:href="@{'/login'}" style="background: #247BA0;">go to login</a>
            <h1 th:if="${status == 'passwordRefused'}" class="font-weight-normal" style="color: firebrick">error! </h1>
            <h3 th:if="${status == 'passwordRefused'}" class="font-weight-normal" >either password doesn't match the constraint or wrong security password</h3>
            <h3 th:if="${status == 'passwordRefused'}" class="font-weight-normal" >password requires: 5+ characters, an uppercase letter, a lowercase letter, a number, a symbol </h3>
        </form>

        <form class="col-md-4 row g-2" action="#"  th:if="${status == 'userFound'}" th:action="@{/resetPassword/securityQuestion}" th:object="${User}" method="post">
            <h1 class="h3 mb-3 font-weight-normal" >Insert the email of the account you want to reset the password</h1>
            <label for="resetPSW_usr_inputEmail" >Email address</label>
            <input type="email" id="resetPSW_usr_inputEmail" class="form-control" placeholder="Email address" th:field="*{email}">
            <th:block th:switch="${User.security_question}">

                <label for="resetPSW_select_response"  th:case="'1'" >What is your mother's maiden name?</label>
                <label for="resetPSW_select_response"  th:case="'2'" >What is the name of your first pet?</label>
                <label for="resetPSW_select_response"  th:case="'3'" >What elementary school did you attend?</label>
                <label for="resetPSW_select_response"  th:case="'4'" >What was your first car?</label>

            </th:block>
            <input type="hidden" th:field="*{security_question}" >
            <input  th:if="${status == 'userFound'}" type="text" id="resetPSW_usr_select_response" class="form-control" placeholder="answer" th:field="*{security_question_answer}">
            <label th:if="${status == 'userFound'}"for="resetPSW_usr_newpassword" >new password</label>
            <input  th:if="${status == 'userFound'}" type="text" id="resetPSW_usr_newpassword" class="form-control" placeholder="new password" th:field="*{password}">
            <br>
            <button class="btn btn-lg btn-primary btn-block" style="background: #247BA0;" type="submit">reset password</button>
            <h3 th:if="${status == 'passwordRefused'}" class="h3 mb-3 font-weight-normal" style="color: firebrick">Error!</h3>
            <h4 th:if="${status == 'passwordRefused'}" class="h3 mb-3 font-weight-normal" style="color: firebrick">Either password doesn't match the constraint or wrong security password</h4>
            <a class="btn btn-lg btn-primary btn-block" th:href="@{'/login'}" style="background: #247BA0;">go to login</a>
          </form>



        <form  th:if="${status == 'userNotfound'}" >
            <h1 class="font-weight-normal" style="color: firebrick">error! </h1>
            <h3 class="font-weight-normal" >user not found</h3>
        </form>



        <div class="col-md-4"></div>
    </div>

</main>
</body>
</html>
