<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeToDo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{~/js/calendar/calendar.js}"></script>
    <script type="text/javascript" th:src="@{~/js/calendar/utils-calendar.js}"></script>
    <script type="text/javascript" th:src="@{~/js/calendar/events.js}"></script>
    <script type="text/javascript" th:src="@{~/js/duty/create-duty.js}"></script>
    <script type="text/javascript" th:src="@{~/js/cookie/cookie_handler.js}"></script>
    <script type="text/javascript" th:src="@{~/js/duty/editDuty.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/calendar.css}" />
    <!--Remove favicon error in the console-->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <div th:replace="navbar :: navbar_header"></div>
    <br>
    <div id="" class="container">
        <div class="row" id="header">
            <div class="col-3">
                <div class="btn-group" role="group" aria-label="First group">
                    <a id="todayButton" class="btn btn-secondary"><span>Today</span></a>
                </div>
                <div class="btn-group" role="group" aria-label="First group">
                    <a id="backButton" class="btn btn-secondary"><span><</span></a>
                    <a id="nextButton" class="btn btn-secondary"><span>></span></a>
                </div>
            </div>
            <div class="col-6 text-center">
                <h2 id="calendarTitle"></h2>
            </div>
            <div class="col-3 text-end">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a id="dayButton" class="btn btn-secondary"><span>Day</span></a>
                    <a id="weekButton" class="btn btn-secondary"> <span>Week</span></a>
                    <a id="monthButton" class="btn btn-secondary"> <span>Month</span></a>
                </div>
            </div>
        </div>
        <div>
            <div class="row" id="headerMonthView">
                <div class="col-sm align-self-center border">
                    Sunday
                </div>
                <div class="col-sm align-self-center border">
                    Monday
                </div>
                <div class="col-sm align-self-center border">
                    Tuesday
                </div>
                <div class="col-sm align-self-center border">
                    Wednesday
                </div>
                <div class="col-sm align-self-center border">
                    Thursday
                </div>
                <div class="col-sm align-self-center border">
                    Friday
                </div>
                <div class="col-sm align-self-center border">
                    Saturday
                </div>
            </div>
            <div id="monthView"></div>
        </div>
        <div>
            <div class="row" id="headerWeekView">
                <div class="col-sm align-self-center invisible-border">
                </div>
                <div class="col-sm align-self-center border">
                </div>
                <div class="col-sm align-self-center border">
                </div>
                <div class="col-sm align-self-center border">
                </div>
                <div class="col-sm align-self-center border">
                </div>
                <div class="col-sm align-self-center border">
                </div>
                <div class="col-sm align-self-center border">
                </div>
                <div class="col-sm align-self-center border">
                </div>
            </div>
            <div id="weekView"></div>
        </div>
        <div>
            <div>
                <div class="row" id="headerDayView">
                    <!--<div class="col col-lg-3 align-self-center invisible-border">
                    </div>-->
                    <div class="col align-self-center invisible-border">
                    </div>
                </div>
            </div>
            <div id="dayView"></div>
        </div>

        <div class="modal fade" id="dutyDetailModal">
            <div class="modal-dialog modal-duty-detail modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h4 id="dutyNameModal">Title</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <br>
                            <div class="form-group" id="editDateDutyDiv">
                                <label class="active">Date: </label>
                                <input class="form-control" type="text" id="editDateDuty" >
                            </div>
                            <br>
                            <div class="form-group" id="editTimeDutyDiv">
                                <label class="active">Time:</label>
                                <input class="form-control" type="number" id="editTimeDuty">
                            </div>
                            <br>
                            <div class="form-group" id="editNoteDutyDiv">
                                <label class="active">Note: </label>
                                <input class="form-control" type="text" id="editNoteDuty">
                            </div>
                            <br>
                            <div class="form-check-group" id="editDoneDutyDiv">
                                <label class="active">Completed task: </label>
                                <input type="checkbox" class="form-check-input" id="editDoneDuty" >
                            </div>
                            <br>
                            <div class="form-check-group" id="editUsersDutyDiv">
                                Utenti:
                            </div>
                            <br>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a id="editDutyButton" class="btn btn-secondary"><span>Edit</span></a>
                        <a id="saveEditDutyButton" class="btn btn-secondary"><span>Save</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="modal fade" id="addDutyModal">
        <div class="modal-dialog modal-duty-detail modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4>Add New Duty</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="addDutyModalBody">
                    <form>
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="addDutyModalDate" disabled>
                                    <label>Date</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="number" id="addDutyModalHour" class="form-control" required="required">
                                    <label>Hour</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="addDutyModalNote">
                            <label>Note</label>
                        </div>


                        <div class="row align-items-center">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <select class="form-control" id="addDutyModalSelectHomeTask">
                                        <option selected value>Nothing selected</option>
                                    </select>
                                    <label>Existed HomeTask</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" id="addDutyModalNewHomeTask" class="form-control">
                                    <label>New HomeTask</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Assign yourself the duty: </label>
                            <input class="form-check-input" id="addDutyModalUser" type="checkbox">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a id="addDutyButton" class="btn btn-secondary"><span>Add</span></a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div id="addDutyModalError" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <h4>Ooops!</h4>
                    <p id="addDutyModalErrorText"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>