<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeToDo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <title>Add new home</title>
</head>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/Home/add-home.js}"></script>
<body>
<div th:replace="navbar :: navbar_header"></div>
<div class="container-lg p-3">
        <div class="row">
            <h2 class="display-6">Add home</h2>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 gap-2 align-self-center">
                <div class="form-content">
                    <form id="form" class="form-horizontal">
                        <div class="mb-3">
                            <label for="houseName" class="form-label">Home Name</label>
                            <input type="text" class="form-control" id="houseName" placeholder="Home Name">
                        </div>
                        <div>
                            <input type="hidden" id="administratorId" th:value="*{home.administrator.email}" />
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" id="button" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>