<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeToDo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <!-- A little style for our page -->
    <link th:href="@{~/css/add-user-to-home.css}" rel="stylesheet" />

    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>

    <!-- Dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- Bootstrap 4 Autocomplete -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-4-autocomplete/dist/bootstrap-4-autocomplete.min.js" crossorigin="anonymous"></script>

    <!-- Script for adding user -->
    <script type="text/javascript" th:src="@{~/js/AddUserToHome/add-user-to-home.js}"></script>

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
    <body id="add-user-to-home-body">
        <div th:replace="navbar :: navbar_header"></div>

        <!-- Form to insert a new user -->
        <div>
            <!-- the off needs to be done to disable the browser’s automatic suggestions-->
            <form id="form" autocomplete="off">
                <div class="form-group">
                    <br><br>
                    <label>Insert the email of the user you want to add to your home. </label>
                    <br>
                    <input id="userToAddEmail" type="email" onkeyup="showResults(this.value)" class="form-control" placeholder="Enter here">
                    <div id="result"></div>
                    <br>
                    <small id="emailHelp" class="form-text text-muted">We'll never share the emails with anyone else.</small>
                </div>
                <br>
                <button id="add_user_submit" type="submit" class="btn btn-primary">Add user to home</button>
            </form>
        </div>
    </body>
</html>