<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeToDo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <!--<link rel="stylesheet" type="text/css" th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.0/css/all.css}" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <script type="text/javascript" th:src="@{~/js/Home/view-home.js}"></script>
    <title>Add new home</title>
</head>

<input type="hidden" id="alreadyInHome" th:value="${param.alreadyInHome}"/>
<script>
    function myFunction() {
        var alreadyInHome = $("#alreadyInHome").val();
        if (alreadyInHome == "true")
            alert(" 🏠 You are already in a home 🏠 \n To join another home via link, first leave the current home.");

    }
</script>


<body onload="myFunction()">
<div th:replace="navbar :: navbar_header"></div>
<div class="container-lg p-3">
    <div class="row">
        <div class="col-12 m-2">
            <h2 th:if="${home == null}" class="display-6">Your home</h2>
            <h2 th:if="${home != null}" th:text="${home.name}" class="display-6">Your home</h2>

        </div>
        <div class="col" th:if="${param.redirect_reason != null && param.redirect_reason[0] == 'belongs_to_home'}">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                You already belong to a home!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
        <div class="row" th:if="${home != null}">
            <div class="col m-2">
                <h2 class="h6">Admin</h2>
                <p class="text-black" th:text="|${home.administrator.email} - ${home.administrator.name} ${home.administrator.surname}|"></p>
                <h2 class="h6">Tasks</h2>
                <th:block th:each="task : ${tasks}">
                    <span class="badge rounded-pill badge-blue ms-1 me-1" th:text="${task.name}"></span>
                </th:block>
                <span th:if="${#lists.isEmpty(tasks) or tasks == null}" class="ms-1 me-1">-</span>
            </div>

            <div class="col m-2">
                <div class="h6">Users</div>
                <th:block th:if="${isAdmin != null}">
                    <div class="d-flex justify-content-end m-2">
                        <button id="add_user_home_page_submit" onclick="location.href = '/add/user-in-a-home';" type="submit" class="btn btn-sm">Add a new user</button>
                    </div>
                </th:block>
                <div class="accordion accordion-flush" id="accordionUsers">
                    <th:block th:each="count : ${countMap}">
                    <div class="accordion-item" th:with="userHeading=${count.key.email.replaceAll('[^A-Za-z0-9-]', '_') + '-heading'}, userId=${count.key.email.replaceAll('[^A-Za-z0-9-]', '_')}">
                        <h6 class="accordion-header" th:id="${userHeading}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#'+${userId},aria-controls=${userId}" aria-expanded="false" th:text="|${count.key.email} - ${count.key.name} ${count.key.surname}|">
                            </button>
                        </h6>
                        <div th:id="${userId}" class="accordion-collapse collapse" th:attr="aria-labelledby=${userHeading}" data-bs-parent="#accordionUsers">
                            <div class="accordion-body">
                                <span th:if="${#lists.isEmpty(count.value)}" class="ms-2">No assigned tasks</span>
                                <th:block th:if="not ${#lists.isEmpty(count.value)} or ${#lists.size(count.value) != 0}" class="ms-2">
                                    <table class="table table-responsive table-sm table-borderless">
                                        <tr>
                                            <th scope="col" class="plain text-orange-ht">Not done</th>
                                            <th scope="col" class="plain text-green-ht">Done</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <th:block th:each="instance : ${count.value}" th:if="${instance[1]} == false">
                                                    <span class="badge badge-orange rounded-pill" th:text="${instance[0].name}"></span>
                                                    <span class="ms-2" th:text="${instance[2]}"></span><br>
                                                </th:block>
                                            </td>
                                            <td>
                                                <th:block th:each="instance : ${count.value}" th:if="${instance[1]} == true">
                                                        <span class="badge badge-green rounded-pill" th:text="${instance[0].name}"></span>
                                                        <span class="ms-2" th:text="${instance[2]}"></span>
                                                </th:block>
                                            </td>
                                        </tr>
                                    </table>
                                </th:block>
                                <div class="d-flex justify-content-end m-1" th:if="${isAdmin != null and count.key.email != isAdmin}">
                                    <button type="submit" th:attr="onclick=|if(confirm('Are you sure you want to delete this user ?')) deleteUser('${count.key.email}')|" id="del-button" class="btn btn-sm"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    </th:block>
                </div>
            </div>
    <div th:if="${join_id} != null" style="margin-bottom: 5px;">
        <label for="join_id" >Join link </label>
        <input  class="form-control" th:if="${join_id} != null" id="join_id" type="url"  th:value="${join_id}" readonly style="width: 400px;">
    </div>
    <div th:if="${join_id} != null"> <button id="copybutton" onclick="copy()" type="submit" class="btn btn-primary">Copy link</button></div>

    <script>
        function copy() {
            /* Get the text field */
            var copyText = document.getElementById("join_id");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);

        }

    </script>

        <div class="row" th:if="${home == null}">
            <div class="col-6 m-2">
                <form action="/home/add" method="get", target="_self">
                    <button type="submit" id="button-home" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</body>
</html>